
html{
	font-family: canada-type-gibson, sans-serif;
}
p
{
	font-family: aktiv-grotesk, sans-serif;
}
header {
	height: 100vh;
	background: url('../img/intro2.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#connects header{
	height: 100vh;
	background: url('../img/connect.jpg')no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
back{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: contain;
}


nav {
	background-color: transparent;
	box-shadow: none;
}


#introduction p {
	color: white;
	font-size: 18px;
	
}

.Gibson-Bold {

	font-family: canada-type-gibson, sans-serif;

	font-weight: 700;

	font-style: normal;
}


.Gibson-Bold-Italic {

	font-family: canada-type-gibson, sans-serif;

	font-weight: 700;

	font-style: italic;
}


.Gibson-Italic {

	font-family: canada-type-gibson, sans-serif;

	font-weight: 400;

	font-style: italic;
}


.Gibson-Regular {

	font-family: canada-type-gibson, sans-serif;

	font-weight: 400;

	font-style: normal;
}
section ul{
	
	list-style-image: url(../img/plus.svg);
	
}

nav a {
	text-transform: uppercase;
	font-size: 13px!important;
	
	letter-spacing: 0.06em; 
	font-weight: 600;
	
	font-style: normal;
}
#introduction {
	margin: 10% 10% 0 10%;
	width: 50%;
}
#introduction .btn{
	width: 300px;
	height: 50px;
	border-radius: 4px;
	padding: 9px;
	font-size: 18px;
	font-weight: 600;
	background-color: #ffa939;
}
#introduction h1{
	font-size: 64px;
	line-height: 64px;
	
	color: #fff;
}
#sub-header h2, .connect-program h2{
	font-size: 36px;
	font-weight: 900;
	color: darkcyan;
}
.connect-program h2{
	display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.connect-program h2:after{
	content: '';
    border-top: #ffa939 2px solid;
    margin: 0 0px 0 10px;
    flex: 1 0 20px;
}
.connect-program p{
	font-size: 18px;
	color: darkcyan;
	margin-bottom: 10px;
}
#sub-header p{
	font-size: 18px;
	line-height: 30px;
	color: darkcyan;
}

#function div {
	height: 350px;
	
}
.back{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
}
.back:hover{
	transform: scale(1.1);
}

.back h1{
	align-items: center!important;
	font-size: 64px;
	font-weight: 900;
	color: white;
	flex-direction: column;
	
	
	
	text-transform: uppercase;
}

#function div:nth-child(odd) {
	background-color: #ffa939;

}

#function div:nth-child(even) {
	

}
#mission-list{
	font-family: canada-type-gibson, sans-serif!important;
	color: darkcyan
}
#mission-list h4{
	font-weight: 900;
	font-size: 30px;
}
#mission-list li{
	font-size:25px;
	letter-spacing:  1px;
	text-indent: 10px;
	
	
	
}
#mission-list li:before{
	
	
		
}
#connect{
	background: url('../img/connect.jpg')no-repeat center center ;
	
	
}
#give{
	background: url('../img/give.jpg')no-repeat center center ;
}#new{
	background: url('../img/newre.jpg')no-repeat center center ;
}

.events {
	width: 100vw;
	height: 250px;
	
	display: flex;
	
	align-items: center;
}
.events-item{
	
	
}
#upcoming-event h1{
	font-size: 64px;
	font-weight: 900;
	color: #ffa939;
}


.events-name{
	font-size: 50px;
	font-weight: lighter;
	color: darkcyan;
	margin: 0;
	line-height: 80px;
		
}
.events:hover{
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.time{
	margin: 0;
	font-size: 80px;
	letter-spacing: 0.03em;
	color: darkcyan;
}
.time span{
	font-weight: 900;
	color: #ffa939;
}

footer {
	background-color: #ffa939 !important;
	color: white!important;
	
}
footer h5{
	font-family: canada-type-gibson, sans-serif!important;
	font-weight: 600;
	
	text-transform: uppercase;
	font-size: 33px;
}
footer p{
	font-size: 18px;
	line-height: 30px;
	font-family: canada-type-gibson, sans-serif!important;
	letter-spacing: 0.02em;
	font-weight: 100;
}
footer img{
	height: 20px;
}
